.keyboardContainer {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
}

.keyboardContainer p {
  font-weight: bold;
}

.powerButtonOff, .powerButtonOn {
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-right: 6em;
}

.powerButtonOff {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border: 2px solid darkred;
  box-shadow: 0px 0px 5px 3px darkred;
  position: relative;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.powerButtonOff::before {
    /* pseudo-elements don't appear unless content property is declared */
    content: "";

    /* design the element */
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 5px solid red;
    position: absolute;
}

.barOff {
  height: 30%;
  width: 5px;
  background: red;
  border-radius: 10px; /* for rounded ends */
  position: absolute;
  top: 5px;
  box-shadow: 0 0 0 5px black;
}

.powerButtonOn {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border: 2px solid lime;
  box-shadow: 0px 0px 23px 3px lime;
  position: relative;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.powerButtonOn::before {
    /* pseudo-elements don't appear unless content property is declared */
    content: "";

    /* design the element */
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 5px solid lime;
}

.barOn {
  height: 30%;
  width: 5px;
  background: lime;
  border-radius: 10px; /* for rounded ends */
  position: absolute;
  top: 5px;
  box-shadow: 0 0 0 5px black;
}

.button {
  background-color: red;
  width: 1000px;
  height: 1000px;
}

.keyboardOn, .keyboardOff {
  display: flex;
  justify-content: center;
  padding: 0.5em;
  background-color: #0D0D0D;
  margin: 1em;
  text-align: center;
}

.keyboardOn {
   box-shadow: 0px 0px 1px 3px lime;
}

.keyboardOff {
  box-shadow: 0px 0px 1px 3px red;
}

.keyboardOff button:disabled {
  background-color: gray;
}

.whiteKey, .whiteKeyDown, .blackKey, .blackKeyDown {
  font-weight: bold !important;
  border-radius: 0 0 10% 10%;
  border: 3px solid black; 
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0.5em;
}

.pitchContainer {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.pitchContainer span {
  font-size: 0.6rem;
}

.whiteKey, .whiteKeyDown {
  color: black;
  height: 25em;
  width: 9%;
}

.whiteKey {
  background-color: white;
}

.whiteKeyDown {
  background-color: lime;
}

.blackKey, .blackKeyDown {
  height: 18em;
  width: 6%;
  margin-left: -3%;
  margin-right: -3%;
  z-index: 1;
}

.blackKey {
  background-color: black;
  color: white;
}

.blackKeyDown {
  background-color: lime;
  color: black;
}
